extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/bus.css")

block @title
    title #{local.bus.code} #{local.bus.model_string} - BDT 

block @aside
    h1.bdt-h-name #{local.bus.code}
    h2.bdt-h-model #{local.bus.model_string}
    p.bdt-h-model-detail #{local.bus.model.brand} #{local.tool.getFuelText(local.bus.model.fuel)}
    p.bdt-h-status(class=local.bus.status_string) #{local.bus.status_string}

block @article
    section.s-introduction
        p 上线时间： #{local.bus.time.on}
        if ! local.bus.status.retired
            p
                |当前运营线路：
                -
                    let current_line = local.bus.current_line_string
                    let is_known = true
                    if(!current_line){
                        if(local.bus.shift_records.length){
                            current_line = local.bus.shift_records[local.bus.shift_records.length-1];
                        } else {
                            is_known = false
                        }
                    }

                if is_known 
                    a(href="/public/line/"+current_line.name) #{current_line.name_pretty}
                else
                    span 未知
        else
            p 下线时间： #{local.bus.time.off}
    section.s-history
        h2 调动记录
        ul.s-his-ul
            each record in local.bus.shift_records
                li.s-his-li
                    h3.s-his-date #{record.date}
                    .s-his-detail
                        .s-his-from #{record.from == '@STANDBY' ? '机动' : record.from}
                        .s-his-fake-arrow(aria-hidden="true") 调往
                        .s-his-to #{record.to == '@STANDBY' ? '机动' : record.to}
