extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/bus.css")

block @title
    title #{local.bus.model} #{local.bus.code} - BDT 

block @aside
    h1.bdt-h-name #{local.bus.code}
    h2.bdt-h-model #{local.bus.model}
    p.bdt-h-status(class=local.bus.status_string) #{local.bus.status_string}

block @article
    section.s-introduction
        p 上线时间： #{local.bus.time.on}
        p 下线时间： #{local.bus.time.off}
        p 当前运营线路： #{local.bus.current.line_string}
    section.s-history
        h2 调动记录
        ul.s-his-ul
            each record in local.bus.shift_records
                li.s-his-li
                    h3.s-his-date #{record.date}
                    .s-his-detail
                        .s-his-from #{record.from}
                        .s-his-fake-arrow(aria-hidden="true") 调往
                        .s-his-to #{record.to == '@STANDBY' ? '机动' : record.to}
