extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/line.css")

block @title
    title #{local.line.name_pretty} - QDB WIKI 

block @aside
    h1.bdt-h-name #{local.line.name_pretty}
    section.s-introduction
    p 首末站： #{local.line.from_string} - #{local.line.to_string}
    //- 首末
    each route in local.line.routes
        p #{route.name}首末： #{route.time_details.first}-#{route.time_details.last}

block @article
    section.s-history
        h2 历史走向
        if local.line.is_history
            p.s-history-tip
                |此页面为
                a(href=local.line.current_reference.name+".html") #{local.line.current_reference.name_pretty}
                |的历史走向。
            h3 原线路的历史走向：
            ul-s-history-ul
                each history in local.line.current_reference.histories
                    li-s-history-li
                        a(href=history.name+".html") #{history.name_pretty} (#{history.history_tag}) #{history == local.line ? "(当前)" : ""}
        else
            if local.line.histories.length == 0
                p.s-history-tip 此线路暂未收录历史走向。
            else
                ul.s-history-ul
                    each history in local.line.histories
                        li.s-history-li
                            a(href=history.name) #{history.name_pretty} (#{history.history_tag}) #{history == local.line ? "(当前)" : ""}
    section.s-route
        h2 线路走向
        ul.s-route-ul
            each route in local.line.routes
                li.s-route-li
                    h3.s-route-name #{route.name}
                    ul.s-route-detail-ul
                        each rf,_rf_index in route.data_stringobject
                            li.s-route-detail-li
                                - let road = Object.keys(rf)[0]
                                h3 #{road}
                                .s-route-detail-lists
                                    each stop, _st_index in rf[road]
                                        - let r = stop.split(" ")
                                        - let p1 = route.data[_rf_index]
                                        - let p2 = p1[road]
                                        - let pointer = p2[_st_index]
                                        if r.length >= 2
                                            a(href="/public/stop/"+pointer.id+".html").s-rd-name
                                                |#{r[1]}
                                                span.s-rd-current-name #{r[0]}
                                        else 
                                            a(href="/public/stop/"+pointer.id+".html").s-rd-name #{r[0]}
    section.s-buses
        h2 车辆
        section.s-buses-cu
            h3 当前车辆
            ul.s-bc-ul
                - let map = {}
                each bus in local.line.current_buses
                    if !map[bus.model_string]
                        - map[bus.model_string] = []
                    - map[bus.model_string].push(bus)
                each v,k in map
                    li.s-bc-li
                        details
                            summary
                                a(href="/public/model/"+k)= k
                                = local.tool.sumBuses(v).join(", ")
                            ul.s-bc-d-ul
                                each c in v
                                    li
                                        a(href="/public/bus/"+c.code)= c.short_name
        section.s-buses-hl
            h3 历史车型
            ul.s-bh-ul
                each model in local.line.history_models_stringlist
                    li
                        a(href="/public/model/"+model)= model
    section.s-bus-history
        h2 调动记录
        section.bus-move-section
            ul.sbhs-ul
                if Object.entries(local.line.bus_shift_records.value).length
                    - let previousDate
                    each obj,order in local.line.bus_shift_records.value
                        li(data-order=order)
                            if previousDate != obj.date
                                h3= obj.date
                            else
                                h3.hidden= obj.date
                            - previousDate = obj.date
                            details.sbhsoo-buses(class=obj.to===local.line.name ? 'move-in' : 'move-out')
                                summary
                                    span.move-line
                                        if obj.to===local.line.name
                                            - let line_string = obj.from
                                            if line_string == "@OFFLINE"
                                                a.sbhsoo-linename.linemark-newbus= "重启"
                                            else if line_string == "@NEW"
                                                a.sbhsoo-linename.linemark-newbus= "新车"
                                            else if line_string == "@STANDBY"
                                                a.sbhsoo-linename.linemark-standby= "机动"
                                                = "→" + local.line.name_pretty
                                            else
                                                a.sbhsoo-linename(href="/public/line/"+line_string)= line_string
                                                = "→" + local.line.name_pretty
                                        else
                                            - let line_string = obj.to
                                            if line_string == "@OFFLINE"
                                                a.sbhsoo-linename.linemark-offline= "下线"
                                            else if line_string == "@STANDBY"
                                                = local.line.name_pretty + "→"
                                                a.sbhsoo-linename.linemark-standby= "机动"
                                            else
                                                = local.line.name_pretty + "→"
                                                a.sbhsoo-linename(href="/public/line/"+line_string)= line_string
                                    = local.tool.sumBuses(obj.buses).join(", ")
                                .sbhsoo-list
                                    each bus in obj.buses
                                        a(href="/public/bus/"+bus.code)= bus.short_name
                else // deprecated
                    each obj,date in local.line.bus_shift_records_by_date
                        li
                            h3= date
                            //- move-in
                            each buses,line_string in obj.in
                                details.sbhsoo-buses.move-in
                                    summary
                                        span.move-line
                                            if line_string == "@OFFLINE"
                                                a.sbhsoo-linename.linemark-newbus= "重启"
                                            else if line_string == "@NEW"
                                                a.sbhsoo-linename.linemark-newbus= "新车"
                                            else if line_string == "@STANDBY"
                                                a.sbhsoo-linename.linemark-standby= "机动"
                                                = "→" + local.line.name_pretty
                                            else
                                                a.sbhsoo-linename(href="/public/line/"+line_string)= line_string
                                                = "→" + local.line.name_pretty
                                        = local.tool.sumBuses(buses).join(", ")
                                    .sbhsoo-list
                                        each bus in buses
                                            a(href="/public/bus/"+bus.code)= bus.short_name
                            
                            //- move-out
                            each buses,line_string in obj.out
                                details.sbhsoo-buses.move-out
                                    summary
                                        span.move-line
                                            if line_string == "@OFFLINE"
                                                a.sbhsoo-linename.linemark-offline= "下线"
                                            else if line_string == "@STANDBY"
                                                = local.line.name_pretty + "→"
                                                a.sbhsoo-linename.linemark-standby= "机动"
                                            else
                                                = local.line.name_pretty + "→"
                                                a.sbhsoo-linename(href="/public/line/"+line_string)= line_string
                                        = local.tool.sumBuses(buses).join(", ")
                                    .sbhsoo-list
                                        each bus in buses
                                            a(href="/public/bus/"+bus.code)= bus.short_name