extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/model.css")

block @title
    title #{local.model.id} - QDB WIKI

block @aside
    h1.bdt-h-name #{local.model.id}
    p.bdt-h-model-detail #{local.model.brand} #{local.tool.getFuelText(local.model.fuel)}

block @article
    -
        let on_count = 0, off_count = 0
        local.model.buses.forEach(v => {
            if(v.status.retired || v.status.retire_pending) {
                off_count += 1;
            } else {
                on_count += 1;
            }
        });
    section.s-overview
        h2 车型概况
        p 在线数量： #{on_count}
        p 下线数量： #{off_count}
    section.s-line
        -
            let current_lines = [], previous_lines = [];
            local.model.buses.forEach(v => {
                let c = v.current.line_string;
                if(c !== undefined && !current_lines.includes(c)) {
                    current_lines.push(c);
                }
                v.history_lines_stringlist.forEach(p => {
                    if(p !== undefined && !previous_lines.includes(p)) {
                        previous_lines.push(p);
                    }
                });
            })
            current_lines.sort();
            previous_lines.sort();
            previous_lines = previous_lines.filter(v => !current_lines.includes(v));
        h2 运营线路
        h3 当前运营线路
        ul.s-line-ul
            each c in current_lines
                li.s-line-li
                    a(href="/public/line/"+c) #{c}
        h3 历史运营线路
        ul.s-line-ul
            each c in previous_lines
                li.s-line-li
                    a(href="/public/line/"+c) #{c}
    section.s-buses-list
        h2 车辆总览
        ul.s-buses-ul
            each bus in local.model.buses
                li.s-buses-li
                    a.bdt-s-bus-button(class=bus.status.retired?'retired':bus.status.retire_pending?'pending':'normal',href="/public/bus/"+bus.code)
                        b #{bus.short_name}
                        small #{local.tool.getGroupText(bus.group)[1]}
