extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/stop.css")

block @title
    title #{local.stop.name} - BDT 

block @aside
    h1.bdt-h-name !{local.stop.name_pretty}
    h2.bdt-h-model !{local.stop.id}

block @article
    section.s-introduction
    section.s-passby
        h2 途径线路
        ul.s-pb-ul
            each v in local.stop.passbys
                li.s-pb-li 
                    h3
                        a(href="/public/line/"+v.line.name) #{v.line.name_pretty} #{v.line.is_history ? '(' + v.line.history_tag + ')' : ''}
                    .s-pb-d
                        each route in v.line.routes
                            each obj in route.data_stringobject
                                -
                                    let [k,s] = Object.entries(obj)[0];
                                    //- s = s.map(n => {
                                    //-     let con = n.split(" ");
                                    //-     if(con.length == 1) return con[0];
                                    //-     else return con[1];
                                    //- })
                                    s = s.map(n=>n.split(" ").slice(0,2)).flat(Infinity)
                                if s.includes(local.stop.name)
                                    p.s-pb.detail #{route.name} 经#{k}
