include /Components/Header.pug
include /Components/Footer.pug
include /Mixins/requestCSS.pug
include /Mixins/getURI.pug

doctype html
html(lang='zh')
    head
        meta(name="darkreader-lock")
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        title #{Current.FullName} | QDB Wiki
        +requestCSS("lib/style/basic.css")
        +requestCSS("lib/style/stop.css")
        +requestCSS("lib/style/model.css")
        +requireCSS('wiki')
        +requireCSS('index')

    body(name=Current.Name)
        +Header
        main
            .page-root.pager-1
                .desc-box.--flex-.-f-center
                    h1.on-hover-root.title(ondblclick="navigator.clipboard.writeText(location.href)")
                        if Current.TitleHtml
                            != Current.TitleHtml
                        else
                                != Current.FullName
                        .on-hover.--width-fit
                            p 双击以复制网页路径到剪切板
                    p 公交公司
                if Current.root
                    .desc-box.rootCompany
                        h2 母公司
                        a.w-link(href=getURI("companies/"+Current.root.Id))= Current.root.FullName
                if Current.Subcompanies.size > 0
                    .desc-box.subcompanies
                        h2 子公司
                        ul
                            each vk in Array.from(Current.Subcompanies.entries())
                                - let [v,k] = vk
                                - if(!k || !v) throw new Error('#B 0xC1 '+v+' '+k+' in '+Current.Name)
                                - if(!k.Id) throw new Error('#B 0xC2 '+k.Id+' '+k.Name+' '+k.FullName)
                                li
                                    a.w-link(href=getURI("companies/"+k.Id))= v
            .page-root.pager-main
                .desc-box.introduction
                    h2 介绍
                    != Current.Description || '暂无描述或介绍'
                if Current.Lines.length > 0
                    .desc-box.lines
                        h2 管理线路
                        ul.WIKI-LISTROOT-LINE
                            each line in Current.Lines
                                - if(!line) throw new Error('#B 0xC3 '+Current.Lines.join(','))
                                li
                                    a.h-link(href=getURI("lines/"+line.GlobalId+"/")) #{line.Name}
                                        if line.IsHistoryLine
                                            .route-tips.--history #{line.GlobalId.split("@")[1]}
        +Footer